<a href="https://colab.research.google.com/github/donsquido/donsquido/blob/main/PythonDataFramePractise.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
#CUSTOMER DATA ANALYSIS PRACTISE

import pandas as pd
data = {'Name': ['Alice', 'Bob', 'Charlie', 'David'],
'Age': [25, 30, 35, 28],
'City': ['New York', 'Los Angeles', 'Chicago', 'Houston']}
# Create a DataFrame from a dictionary
df = pd.DataFrame(data)
print(df)

      Name  Age         City
0    Alice   25     New York
1      Bob   30  Los Angeles
2  Charlie   35      Chicago
3    David   28      Houston

In [2]:
#Adding a new column:


import pandas as pd
data = {'Name': ['Alice', 'Bob', 'Charlie', 'David'],
'Age': [25, 30, 35, 28]}
df = pd.DataFrame(data)
print("Before Adding Column")
print(df)
# Add a new column "City" with values
df['City'] = ['New York', 'Los Angeles', 'Chicago', 'Houston']
print("After Adding Column")
print(df)

Before Adding Column
      Name  Age
0    Alice   25
1      Bob   30
2  Charlie   35
3    David   28
After Adding Column
      Name  Age         City
0    Alice   25     New York
1      Bob   30  Los Angeles
2  Charlie   35      Chicago
3    David   28      Houston

In [3]:
#Adding multiple columns:


import pandas as pd
# Create an initial DataFrame
data = {'Name': ['Alice', 'Bob', 'Charlie', 'David'],
'Age': [25, 30, 35, 28],
'City': ['New York', 'Los Angeles', 'Chicago', 'Houston']}
df = pd.DataFrame(data)
# Display the initial DataFrame
print("Initial DataFrame:")
print(df)
# Create data for the new columns
new_columns = {
'Gender': ['Female', 'Male', 'Male', 'Male'],
'Grade': ['A', 'B', 'C', 'B']
}
# Add the new columns to the DataFrame
df['Gender'] = new_columns['Gender']
df['Grade'] = new_columns['Grade']
# Display the DataFrame with the new columns
print("\nDataFrame after adding new columns:")
print(df)

Initial DataFrame:
      Name  Age         City
0    Alice   25     New York
1      Bob   30  Los Angeles
2  Charlie   35      Chicago
3    David   28      Houston

DataFrame after adding new columns:
      Name  Age         City  Gender Grade
0    Alice   25     New York  Female     A
1      Bob   30  Los Angeles    Male     B
2  Charlie   35      Chicago    Male     C
3    David   28      Houston    Male     B

In [4]:
#Adding a column at a specific inde

import pandas as pd
# Create an initial DataFrame
data = {'Name': ['Alice', 'Bob', 'Charlie', 'David'],
'Age': [25, 30, 35, 28],
'City': ['New York', 'Los Angeles', 'Chicago', 'Houston']}
df = pd.DataFrame(data)
# Display the initial DataFrame
print("Initial DataFrame:")
print(df)
# Create data for the new column
new_column = ['Female', 'Male', 'Male', 'Male']
# Define the name and index where you want to insert the new colu
new_column_name = 'Gender'
insert_index = 1 # Insert as the second column (index 1)
# Insert the new column at the specified locati
df.insert(insert_index, new_column_name, new_column)
# Display the DataFrame with the new column
print("\nDataFrame after adding the new column:")
print(df)

Initial DataFrame:
      Name  Age         City
0    Alice   25     New York
1      Bob   30  Los Angeles
2  Charlie   35      Chicago
3    David   28      Houston

DataFrame after adding the new column:
      Name  Gender  Age         City
0    Alice  Female   25     New York
1      Bob    Male   30  Los Angeles
2  Charlie    Male   35      Chicago
3    David    Male   28      Houston

In [5]:
#Adding a New Row:


import pandas as pd
# Create an initial DataFrame
data = {'Name': ['Alice', 'Bob', 'Charlie', 'David'],
'Age': [25, 30, 35, 28],
'City': ['New York', 'Los Angeles', 'Chicago', 'Houston']}
df = pd.DataFrame(data)
# Display the initial DataFrame
print("Initial DataFrame:")
print(df)
# Create data for the new row
new_row = pd.DataFrame([{'Name': 'Eve', 'Age': 24, 'City': 'San Francisco'}])
#now we are adding a row at the end of the DataFrame
df = pd.concat([df, new_row], ignore_index=True)
# Display the DataFrame with the new row
print("\nDataFrame after adding a new row:")
print(df)

Initial DataFrame:
      Name  Age         City
0    Alice   25     New York
1      Bob   30  Los Angeles
2  Charlie   35      Chicago
3    David   28      Houston

DataFrame after adding a new row:
      Name  Age           City
0    Alice   25       New York
1      Bob   30    Los Angeles
2  Charlie   35        Chicago
3    David   28        Houston
4      Eve   24  San Francisco

In [6]:
#Adding multiple new rows:


import pandas as pd
# Create an initial DataFrame
data = {'Name': ['Alice', 'Bob', 'Charlie', 'David'],
'Age': [25, 30, 35, 28],
'City': ['New York', 'Los Angeles', 'Chicago', 'Houston']}
df = pd.DataFrame(data)
# Display the initial DataFrame
print("Initial DataFrame:")
print(df)
# Create data for the new rows
new_rows = pd.DataFrame([
{'Name': 'Eve', 'Age': 24, 'City': 'San Francisco'},
{'Name': 'Frank', 'Age': 32, 'City': 'Miami'},
{'Name': 'Grace', 'Age': 29, 'City': 'Seattle'}
])
df = pd.concat([df, new_rows], ignore_index=True)
# Display the DataFrame with the new rows
print("\nDataFrame after adding new rows:")
print(df)

Initial DataFrame:
      Name  Age         City
0    Alice   25     New York
1      Bob   30  Los Angeles
2  Charlie   35      Chicago
3    David   28      Houston

DataFrame after adding new rows:
      Name  Age           City
0    Alice   25       New York
1      Bob   30    Los Angeles
2  Charlie   35        Chicago
3    David   28        Houston
4      Eve   24  San Francisco
5    Frank   32          Miami
6    Grace   29        Seattle

In [7]:
#Adding a new row at a specific index

import pandas as pd
# Create an initial DataFrame
data = {'Name': ['Alice', 'Bob', 'Charlie', 'David'],
'Age': [25, 30, 35, 28],
'City': ['New York', 'Los Angeles', 'Chicago', 'Houston']}
df = pd.DataFrame(data)
# Display the initial DataFrame
print("Initial DataFrame:")
print(df)
# Create data for the new row
new_row = {'Name': 'Eve', 'Age': 24, 'City': 'San Francisco'}
# Define the index where you want to insert the new r
insert_index = 1.5 # This will actually insert at index 2
# Insert the new row at the specified locati
df.loc[insert_index]=new_row
df = df.sort_index().reset_index(drop=True)
# Display the DataFrame with the new row inserted
print("\nDataFrame after adding a new row:")
print(df)

Initial DataFrame:
      Name  Age         City
0    Alice   25     New York
1      Bob   30  Los Angeles
2  Charlie   35      Chicago
3    David   28      Houston

DataFrame after adding a new row:
      Name  Age           City
0    Alice   25       New York
1      Bob   30    Los Angeles
2      Eve   24  San Francisco
3  Charlie   35        Chicago
4    David   28        Houston

In [8]:
 #Updating a single column:

#create a dictionary
import pandas as pd
fruit_data = {"Fruit": ['Apple','Avacado','Banana','Strawberry','Grape'],"Color":
['Red','Green','Yellow','Pink','Green'],
"Price": [45, 90, 60, 37, 49]
}
#Dataframe
data = pd.DataFrame(fruit_data)
print("Before Updating Column")
print(data)
#update the column name
data=data.rename(columns = {'Fruit':'Fruit Name'})
print("After Updating Column")
print(data)

Before Updating Column
        Fruit   Color  Price
0       Apple     Red     45
1     Avacado   Green     90
2      Banana  Yellow     60
3  Strawberry    Pink     37
4       Grape   Green     49
After Updating Column
   Fruit Name   Color  Price
0       Apple     Red     45
1     Avacado   Green     90
2      Banana  Yellow     60
3  Strawberry    Pink     37
4       Grape   Green     49

In [9]:
#Updating multiple columns:

#create a dictionary
import pandas as pd
fruit_data = {"Fruit": ['Apple','Avacado','Banana','Strawberry','Grape'],"Color":
['Red','Green','Yellow','Pink','Green'],
"Price": [45, 90, 60, 37, 49]
}
#Dataframe
data = pd.DataFrame(fruit_data)
print("Before Updating Column")
print(data)
#update the Multiple column name
data=data.rename(columns = {'Fruit':'Fruit Name','Colour':'Color','Price':'Cost'})
print("After Updating Column")
print(data)

Before Updating Column
        Fruit   Color  Price
0       Apple     Red     45
1     Avacado   Green     90
2      Banana  Yellow     60
3  Strawberry    Pink     37
4       Grape   Green     49
After Updating Column
   Fruit Name   Color  Cost
0       Apple     Red    45
1     Avacado   Green    90
2      Banana  Yellow    60
3  Strawberry    Pink    37
4       Grape   Green    49

In [10]:
#Updating the case of the column names


#create a dictionary
import pandas as pd
fruit_data = {"Fruit": ['Apple','Avacado','Banana','Strawberry','Grape'],"Color":
['Red','Green','Yellow','Pink','Green'],
"Price": [45, 90, 60, 37, 49]
}
#Dataframe
data = pd.DataFrame(fruit_data)
print("Before Updating Column")
print(data)
#lower case
data.columns=data.columns.str.lower()
print("After Updating Column")
print(data)

Before Updating Column
        Fruit   Color  Price
0       Apple     Red     45
1     Avacado   Green     90
2      Banana  Yellow     60
3  Strawberry    Pink     37
4       Grape   Green     49
After Updating Column
        fruit   color  price
0       Apple     Red     45
1     Avacado   Green     90
2      Banana  Yellow     60
3  Strawberry    Pink     37
4       Grape   Green     49

In [11]:
#Updating Row Values

#create a dictionary
import pandas as pd
fruit_data = {"Fruit": ['Apple','Avacado','Banana','Strawberry','Grape'],"Color":
['Red','Green','Yellow','Pink','Green'],
"Price": [45, 90, 60, 37, 49]
}
#Dataframe
data = pd.DataFrame(fruit_data)
print("Original Dataset")
print(data)
print("Display 4th row Value")
print(data.loc[3]) # fetch the data of row at index 3

Original Dataset
        Fruit   Color  Price
0       Apple     Red     45
1     Avacado   Green     90
2      Banana  Yellow     60
3  Strawberry    Pink     37
4       Grape   Green     49
Display 4th row Value
Fruit    Strawberry
Color          Pink
Price            37
Name: 3, dtype: object

In [12]:
#create a dictionary
import pandas as pd
fruit_data = {"Fruit": ['Apple','Avacado','Banana','Strawberry','Grape'],"Color":
['Red','Green','Yellow','Pink','Green'],
"Price": [45, 90, 60, 37, 49]
}
#Dataframe
data = pd.DataFrame(fruit_data)
print("Original Dataset")
print(data)
#update
data.loc[3] = ['PineApple','Yellow',48]
print("After Updating Values")
print(data)

Original Dataset
        Fruit   Color  Price
0       Apple     Red     45
1     Avacado   Green     90
2      Banana  Yellow     60
3  Strawberry    Pink     37
4       Grape   Green     49
After Updating Values
       Fruit   Color  Price
0      Apple     Red     45
1    Avacado   Green     90
2     Banana  Yellow     60
3  PineApple  Yellow     48
4      Grape   Green     49

In [13]:
import pandas as pd
fruit_data = {"Fruit": ['Apple','Avacado','Banana','Strawberry','Grape'],"Color":
['Red','Green','Yellow','Pink','Green'],
"Price": [45, 90, 60, 37, 49]
}
#Dataframe
data = pd.DataFrame(fruit_data)
print(data.loc[3, ['Price']])

Price    37
Name: 3, dtype: object

In [14]:
#Now, to update only the price of the fruit located in the 4th row, that is index 3, we need
#to change 37 to 65.


#create a dictionary
import pandas as pd
fruit_data = {"Fruit": ['Apple','Avacado','Banana','Strawberry','Grape'],"Color":
['Red','Green','Yellow','Pink','Green'],
"Price": [45, 90, 60, 37, 49]
}
#Dataframe
data = pd.DataFrame(fruit_data)
print("Original Dataset")
print(data)
#updating
data.loc[3, ['Price']] = [65]
print("After Updating Values")
print(data)

Original Dataset
        Fruit   Color  Price
0       Apple     Red     45
1     Avacado   Green     90
2      Banana  Yellow     60
3  Strawberry    Pink     37
4       Grape   Green     49
After Updating Values
        Fruit   Color  Price
0       Apple     Red     45
1     Avacado   Green     90
2      Banana  Yellow     60
3  Strawberry    Pink     65
4       Grape   Green     49

In [15]:
#Update rows and columns based on condition

#create a dictionary
import pandas as pd
fruit_data = {"Fruit": ['Apple','Avacado','Banana','Strawberry','Grape'],"Color":
['Red','Green','Yellow','Pink','Green'],
"Price": [45, 90, 65, 37, 49]
}
#Dataframe
data = pd.DataFrame(fruit_data)
print("Original Dataset")
print(data)
#Updating
data.loc[data['Price'] >60, 'Remarks'] = 'Expensive'
data.loc[data['Price'] <60, 'Remarks'] = 'Not Expensive'
print("After Updating Values")
print(data)

Original Dataset
        Fruit   Color  Price
0       Apple     Red     45
1     Avacado   Green     90
2      Banana  Yellow     65
3  Strawberry    Pink     37
4       Grape   Green     49
After Updating Values
        Fruit   Color  Price        Remarks
0       Apple     Red     45  Not Expensive
1     Avacado   Green     90      Expensive
2      Banana  Yellow     65      Expensive
3  Strawberry    Pink     37  Not Expensive
4       Grape   Green     49  Not Expensive

In [16]:
#Delete a single row:

import pandas as pd
# Create a sample employee DataFrame
data = {
'EmployeeID': [101, 102, 103, 104, 105],
'Name': ['Alice', 'Bob', 'Charlie', 'David', 'Eve'],
'Age': [28, 32, 29, 35, 26]
}
df = pd.DataFrame(data)
# Display the initial DataFrame
print("Initial DataFrame:")
print(df)
# Let's say you want to delete the row for the employee named 'Charlie'
employee_to_delete = 'Charlie'
# Use the .loc property to delete the row based on the employee's name
df = df.loc[df['Name'] != employee_to_delete]
# Display the DataFrame after deleting the row
print("\nDataFrame after deleting the row for 'Charlie':")
print(df)

Initial DataFrame:
   EmployeeID     Name  Age
0         101    Alice   28
1         102      Bob   32
2         103  Charlie   29
3         104    David   35
4         105      Eve   26

DataFrame after deleting the row for 'Charlie':
   EmployeeID   Name  Age
0         101  Alice   28
1         102    Bob   32
3         104  David   35
4         105    Eve   26

In [17]:
#Delete a Column

import pandas as pd
# Create a sample employee DataFrame
data = {
'EmployeeID': [101, 102, 103, 104, 105],
'Name': ['Alice', 'Bob', 'Charlie', 'David', 'Eve'],
'Age': [28, 32, 29, 35, 26],
'Photo': ['photo1.jpg', 'photo2.jpg', 'photo3.jpg', 'photo4.jpg', 'photo5.jpg']
}
df = pd.DataFrame(data)
# Display the initial DataFrame
print("Initial DataFrame:")
print(df)
# Delete the 'Photo' column (employee photos are no longer needed)
df = df.drop('Photo', axis=1)
# Display the DataFrame after deleting the column
print("\nDataFrame after deleting the 'Photo' column:")
print(df)

Initial DataFrame:
   EmployeeID     Name  Age       Photo
0         101    Alice   28  photo1.jpg
1         102      Bob   32  photo2.jpg
2         103  Charlie   29  photo3.jpg
3         104    David   35  photo4.jpg
4         105      Eve   26  photo5.jpg

DataFrame after deleting the 'Photo' column:
   EmployeeID     Name  Age
0         101    Alice   28
1         102      Bob   32
2         103  Charlie   29
3         104    David   35
4         105      Eve   26

In [18]:
#Delete a row based on condition

Initial DataFrame:
   OrderID Product  Quantity    Status
0      101  Widget        10   Shipped
1      102  Gadget         5  Canceled
2      103  Widget         0  Canceled
3      104  Doodad         7   Shipped
4      105  Widget        15   Shipped

DataFrame after deleting 'Canceled' orders:
   OrderID Product  Quantity   Status
0      101  Widget        10  Shipped
3      104  Doodad         7  Shipped
4      105  Widget        15  Shipped

In [20]:

import pandas as pd

# Sample weather data (replace with your actual data)
data = {
    'Date': pd.to_datetime(['2023-11-15', '2023-11-16', '2023-11-17']),
    'Temperature': [25, 22, 20],  # in Celsius
    'Humidity': [60, 75, 80],  # in percentage
    'Precipitation': [0, 5, 2]  # in millimeters
}

# Create the DataFrame
weather_df = pd.DataFrame(data)

# Set 'Date' as the index
weather_df.set_index('Date', inplace=True)

# Display the DataFrame
print(weather_df)

            Temperature  Humidity  Precipitation
Date
2023-11-15           25        60              0
2023-11-16           22        75              5
2023-11-17           20        80              2